<ion-header>
  <ion-toolbar>
    <ion-title>prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="border">
    <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
 <ion-card *ngFor="let element of sh | filtro: searchText ">
     <ion-card-header>
         <ion-item>
             <ion-button slot="start" size="small" shape="round">Ver Cliente</ion-button>
             <ion-label id="id">{{element.id}}</ion-label>
             <ion-button slot="end" size="small" (focus)="saveimage(element.clientes)" (click)="sendData(element.id)">Editar</ion-button>
         </ion-item>
        <img class="images" id="img" src="{{element.clientes.Url2}}"/>
     </ion-card-header>
     <ion-card-content>
         <ion-label text-center class="name" id="name">{{element.clientes.Nombre}}</ion-label>
         <ion-list>
             <ion-item>
                 <ion-label color="black">Activo</ion-label>
                 <ion-radio id="active" disabled="{{element.clientes.Inactivo}}" color="success" checked="{{element.clientes.Activo}}"></ion-radio>
             </ion-item>
             <ion-item>
                 <ion-label>Inactivo</ion-label>
                 <ion-radio id="inactive" color="danger" disabled="{{element.clientes.Activo}}" checked="{{element.clientes.Inactivo}}"></ion-radio>
             </ion-item>
         </ion-list>
     </ion-card-content>
 </ion-card>
  <ion-button href="/home"></ion-button>
</ion-content>
